<!doctype html>
<html lang="en">
  <head>
    <title>Edit</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      

<form id="editEmployeeForm" action="/editEmployeeForm" method="POST"  enctype="multipart/form-data">
					<div class="modal-header">						
						<h4 class="modal-title">Add Employee</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<div class="form-group">
							<label>id</label>
							<input name="id" type="text" id="id"class="form-control" value="{{data.id}}" readonly  >
						</div>
						<div class="form-group">
							<label>Name</label>
							<input  name="name"  id="name" type="text" class="form-control" value="{{data.name}}" required>
						</div>
						<div>
							<label for="">Image</label>
							 
    					<input  type="file" id= "picture"name="picture"  accept="image/*" required />
    						
  					
						</div>
            <div class="form-group">
   
  <img width="100px" height="100px" src="../{{data.picture}}" alt="" srcset="">

  </div>
						<div class="form-group">
							<label>Price</label>
							<input name="price" id="price"type="text" class="form-control" required value="{{data.price}}">
						</div>					
					</div>
          
					<div class="modal-footer">
											<button  type="button"class="btn btn-default" data-dismiss="modal" value="Cancel" >
							<a href="\edit1">Cancel</a>
						</button>
						<input type="submit" class="btn btn-success" value="Add">
					</div>
				</form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>