<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .mid {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .product-item {
            padding: 10px;
            box-sizing: border-box;
        }
        .imgsp img{
            width: 100%;
            height: 450px;
        }
        .textsp-title{
          
            font-weight: bold;
            font-size: text-lg;
            padding-bottom: 10px;
        }
        .product-item span{
            line-height: 20px;
       font-size: 18px;
    color: #f57224

        }

    </style>
</head>
<body>
    <div class="container-fluid d-flex flex-column" >
     
    
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/edit1">Edit</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Account                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  
                    <a class="dropdown-item" href="/login">Login</a>
                    <a class="dropdown-item" href="/register">Register</a>
                  </div>
                </li>
              </ul>
            </div>
          </nav>    
            <div class="row" style=" width:   100%; margin: 0;" >
                <div class="col-md-4">
                    <div class="product-item " >
                       <div class="imgsp ">
                        <img src="https://bizweb.dktcdn.net/thumb/large/100/404/498/products/2653647ao-phong-uniqlo-nam-airism-nhat-ban2-jpeg.jpg?v=1600747485927" alt="" srcset="">
                       </div>
                       <div class="textsp">
                        <div class="textsp-title "> INSPI Tees Celestial Tshirt for Men Aesthetic Galaxy Tops for Women Sun Moon Stars Sky Graphic Premium Quality Unisex T-Shirt</div>
                        <span class="price">₱219</span>
                        
                       </div>
                        
                        
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="product-item " >
                       <div class="imgsp ">
                        <img src="https://bizweb.dktcdn.net/thumb/large/100/404/498/products/2653647ao-phong-uniqlo-nam-airism-nhat-ban2-jpeg.jpg?v=1600747485927" alt="" srcset="">
                       </div>
                       <div class="textsp">
                        <div class="textsp-title "> INSPI Tees Celestial Tshirt for Men Aesthetic Galaxy Tops for Women Sun Moon Stars Sky Graphic Premium Quality Unisex T-Shirt</div>
                        <span class="price">₱219</span>
                        
                       </div>
                        
                        
                    </div>
                </div>
                
                {{#each data}}
                <div class="col-md-4">
                    <div class="product-item " >
                       <div class="imgsp ">
                        <img src="{{picture}}" alt="" srcset="">
                       </div>
                       <div class="textsp">
                        <div class="textsp-title "> {{name}}</div>
                        <span class="price">{{price}}</span>
                        
                       </div>
                        
                        
                    </div>
                </div>
                 {{/each}}
                 
               
               
                
            </div>
    
    
        <footer></footer>
    </div>
    
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
